{% extends "base.html" %}
{% block title %}My Comfort Management Tool{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_login_text %}
{% from "_formhelpers.html" import render_login_check %}
<div class="jumbotron" style="padding-top:30px; padding-bottom:25px;">
    {% if error %}
    <div class="alert alert-danger text-center">
        {{ error }}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <p>
                    <strong>WatSmart</strong>
                    <small>
                        Detects leaks in water mains, saving hundreds of thousands of dollars every year.
                    </small>
                </p>
                <p class="text-warning">
                    <strong><small>To learn more about WatSmart, please click here.</small></strong>
                </p>
            </div>
            <div class="col-lg-5 col-md-6 col-lg-offset-1">
                <img src="{{ url_for('static', filename='images/sonar_box_small.jpg')}}" alt="WatSMart Box" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Who is doing this?</h3>
            <p>
                The Structural Dynamics, Control & Identification Group at the University of Waterloo started the WatSmart project.
                It is supervised by <a href="http://blizzard.cs.uwaterloo.ca/keshav/">Prof. Narasimhan</a>, and currently,
                Roya Cody, Alimohammad Rabbani, and Costin Ograda-Bratu
                are involved in the project.
            </p>
        </div>
        <div class="col-md-4">
            <h3>What is this website for?</h3>
            <p>
                This website is created primarily for WatSMart users to control the devices and collect data from them.
                After samples are collected it provides the user with visualizations of water leaks.
                In addition, it provides admin tools to monitor the deployment.
                The website also provides a brief description of WatSmart for people who are interested in this area of research.
            </p>
        </div>
        <div class="col-md-4">
            <h3>How can I help?</h3>
            <p>
                If you find yourself interested in this project, you can always contact us
                at <a href="mailto:sriram.narasimhan@uwaterloo.ca"> sriram.narasimhan@uwaterloo.ca</a>. We are looking forward to
                your comments and suggestions and will be more than happy to have you on board if you are interested.
            </p>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}
